$focus = #ffd700; //#F1C357
$text = #8aa4bb
form
  input, textarea
    margin-bottom .7em
    width 100%

input, select, textarea, button
  // RESET
  line-height 1
  outline 0
  box-shadow none
  font inherit
  //appearance none

input, textarea, select
  //-webkit-appearance none
  //-moz-appearance none
  appearance none

  border-radius 3px
  border 1px solid $text
  padding .4em
  color $header
  &:focus
    border-color $focus

textarea
  min-height 8em
  resize vertical
  overflow auto
label
  display block
label, select
  cursor pointer

select
  //border 0
  border 1px solid #CCC
  //appearance none
  padding .5em 2em .5em .5em
  line-height initial

  background #FFF url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='18' height='12'><polygon points='0,0 12,0 6,12' fill='gainsboro'/></svg>") right no-repeat

