// @import url('https://fonts.googleapis.com/css?family=Comfortaa:300,400,700&subset=cyrillic')
// @import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@1,900&display=swap')

*
  margin 0
  padding 0
  box-sizing border-box

html {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

/*
body
  // font-family 'Comfortaa', cursive
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  background-color: #e2dccc;

  font-size calc(1vw + 1vh + .5vmin)
  font-size calc(.8vw + 1vh + .2vmin)
*/

color-initial ?= #fff
color-primary ?= #9b4dca
color-secondary ?= #606c76
color-tertiary ?= #f4f5f6
color-quaternary ?= #d1d1d1
color-quinary ?= #e1e1e1


@import "__@Utilities"

@import _Form
@import _Button